* {
  margin:0px 0px;
  padding:0px 0px;
}
body {
  text-align:center;
  background-color:#E3FFDB;
  font:normal 12px 'Comic Sans MS',Verdana,Sans-Serif;
  text-shadow:0px 0px 1px rgba(0,0,0,0.2);
  color:black;
}
#page-wrap {
  width:98%;
  margin:30px auto 30px;
  text-align:left;
  overflow:hidden;
  clear:both;
}
h2 {
  font-size:22px;
}
textarea {
  display:block;
  text-shadow:none;
  width:99% !important;
  height:300px;
  margin:10px auto 10px;
  padding:1px;
  background-color:white;
  text-align:left;
  color:black;
  border:1px solid #bbb;
  font:normal 12px/15px "Inconsolata","Monaco","Consolas","Andale Mono","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
}
.button-group {
  text-align:center;
}
.button-group div {
  text-align:left;
  margin:10px auto 10px;
}
button {
  padding:7px 18px;
  font:bold 12px Arial,Sans-Serif;
  cursor:pointer;
}
.col {
  width:48%;
}
.left {
  float:left;
  margin-left:1%;
}
.footer {
  display:block;
  margin:10px auto 10px;
  width:98%;
  text-align:right;
}
.right {
  float:right;
  margin-right:1%;
}
#config .outer {
  border:1px solid #bbb !important;
}

#config select {
  background-color:white !important;
  color:black !important;
}