html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {line-height: 1;}
ol, ul {list-style: none;}
/* tables still need 'cellspacing="0"' in the markup */
table {border-collapse: separate;border-spacing: 0;}
caption, th, td {text-align: left;font-weight: normal;}
blockquote:before, blockquote:after,
q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
* {margin:0 0 0 0;padding:0 0 0 0;}
body{background: url(bg-ground.png) repeat transparent;repeat;padding:0;color: #FFFFFF;}
header{text-align:center;}
a:link{ color:#006699;  text-decoration:none}
a:visited{ color:#006699;  text-decoration:none}
a:hover{ color:#006699;  text-decoration:underline}
/* reset */
a:link,a:hover,a:visited{text-decoration:none;}ol, ul {list-style: none;}
/* topbar */
#topBar{background:url('bg-head.png') repeat-x #1f4453;postion:absolute;top:0;left:0;width:100%;height:67px;border-bottom:1px solid white;min-width:1050px}
#topLimiter{width:1050px;margin:0 auto;position:relative;height:70px;z-index:1000}
#logo{background:url('css_sprite.png') no-repeat 0 -218px;height:83px;left:0;position:absolute;top:0;width:290px;border:none;text-indent:-9999px}
/* navigation */
#navigation{left:320px;position:absolute;top:18px;z-index:1000;font-family:'Segoe UI',Tahoma,Arial,sans-serif}#navigation li{list-style:none;display:inline}#navigation ul{display:none;position:absolute;top:30px;left:0}#navigation div:hover ul.level1{display:block}#navigation div div:hover>ul{display:block;left:120px;top:0;background-color:#14303a;z-index:10000}#navigation div div ul div{border-bottom-color:#11252c;border-top-color:#1b3c48}#navigation div{float:left;position:relative}#navigation	div div{float:none;border-top:1px solid #183540;border-bottom:1px solid #081418}#navigation	div li:first-child>div{border-top:none}#navigation	div li:last-child>div{border-bottom:none}#navigation	div ul li{display:block}#navigation a{border:1px solid transparent;font-size:15px;display:block;font-weight:bold;padding:7px 30px 7px 11px;color:white;text-shadow:1px 1px 0 #333}#navigation	div ul{background-color:#102831;width:150px;padding:10px;border:1px solid #0d2129;border-top:none;z-index:1000}#navigation div li a{font-size:12px;font-weight:normal;letter-spacing:0.5px}#navigation div li div:hover>a{background:#183641;border:1px solid #1d3e4b}#navigation	div span{position:absolute;right:10px;top:50%;width:14px;height:14px;background:url('css_sprite.png') no-repeat -200px -101px;;margin-top:-7px}#navigation a.active, #navigation div:hover a.level0, #navigation a:hover{background-color:#102831;text-shadow:1px 1px 0 black;border:1px solid #0d2129}#navigation div:hover .topMenuIcon{background-position:-200px -81px}
/* pencarian */
#searchForm{height:31px;position:absolute;right:0;top:18px;width:245px}
/*credit*/
.credit {  -webkit-box-shadow:inset 0px 0px 2px rgba(0,0,0,0.7), 0px 0px 0px 7px #4A4016, 2px 2px 7px 7px rgba(0,0,0,0.7);
  -moz-box-shadow:inset 0px 0px 2px rgba(0,0,0,0.7), 0px 0px 0px 7px #4A4016, 2px 2px 7px 7px rgba(0,0,0,0.7);
  box-shadow:inset 0px 0px 2px rgba(0,0,0,0.7), 0px 0px 0px 7px #4A4016, 2px 2px 7px 7px rgba(0,0,0,0.7);
  background-image:-webkit-linear-gradient(-70deg, rgba(255,255,255,0.7) 0%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0.1) 100%);
  background-image:-moz-linear-gradient(-70deg, rgba(255,255,255,0.7) 0%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0.1) 100%);
  background-image:-ms-linear-gradient(-70deg, rgba(255,255,255,0.7) 0%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0.1) 100%);
  background-image:-o-linear-gradient(-70deg, rgba(255,255,255,0.7) 0%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0.1) 100%);
  background-image:linear-gradient(-70deg, rgba(255,255,255,0.7) 0%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0.1) 100%);text-align:center;font: italic 11px georgia,serif;margin: 10px auto;overflow: hidden;width: 350px;border-radius: 4px;padding:10px;border:2px solid #171508;}
.main-content{margin:0 auto;}
  /*social*/
#sidenav {margin: 0.5em auto;width: 200px;}
#sidenav li a {display: block;text-indent: -99999px;}
#sidenav li {float: left;margin: 5px;}
/* CSS Sprites */
#sidenav a.main {background-image:url('social-share.png');background-repeat:no-repeat;width:30px;height:25px;}
#sidenav a.facebook    {background-position:-2px -3px;   }
#sidenav a.Google  {background-position: -1px -32px; }
#sidenav a.twitter {background-position:-2px -62px; }
#sidenav a.rss   {background-position:-2px -92px; }
#sidenav a.linked   {background-position:-2px -123px; }
/* CSS Sprites :Hover*/
#sidenav a.facebook:Hover    {background-position:-62px -3px;   }
#sidenav a.Google:Hover  {background-position:-62px -32px; }
#sidenav a.twitter:Hover {background-position:-62px -62px; }
#sidenav a.rss:Hover   {background-position:-62px -92px; }
#sidenav a.linked:Hover   {background-position:-62px -123px; }
/* CSS Sprites Click :active*/
#sidenav a.facebook:active    {background-position:-122px -3px;   }
#sidenav a.Google:active  {background-position: -122px -32px; }
#sidenav a.twitter:active {background-position:-122px -62pxx; }
#sidenav a.rss:active   {background-position:-122px -92px; }
#sidenav a.linked:active   {background-position:-122px -123px; }
/* CSS Fallback */
#sidenav li:hover .fallback {display:block;}